<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg fixed-top bg-white " style="padding-left: 10px;"  >

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
       <ul class="navbar-nav mb-2 mb-lg-0 mx-auto " style="align-items: baseline;">

          <a class="navbar-brand" href="#" style="font-size: 30px;">Home</a>

          <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="/#iscriviti">Iscriviti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#login">Login</a>
         </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#contatti">Contatti</a>
          </li>
          <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="#recensioni">Recensioni</a>
          </li>
          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
             </a>
             <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Info</a></li>
                <li><a class="dropdown-item" href="#">Assistenza</a></li>
                <li><a class="dropdown-item" href="#">Guida</a></li>
                <li>
                   <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Impostazioni</a></li>
             </ul>
          </li>

       </ul>
       <br><br><br>
    </div>
  </nav>

  <header id="home" class="head-banner text-white text-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 style="font-size: 3rem; font-family: cursive;">Loyalty Platform</h1>
        </div>
      </div>
    </div>
  </header>

  <section class="sezione-icone bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 ">
          <div class="mb-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
              class="fas fa-key" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z" />
            </svg>
            <h1>Eccellenza</h1>
            <p class="lead mb-0 ">Lorem ipsum dolor sit amet consectetur adipisicing
              elit.
              Rerum consequuntur obcaecati exercitationem laboriosam dolores illum minima, commodi quidem fuga
              ducimus hic accusamus sapiente quod magnam nam officia doloribus! Perferendis, itaque!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="mb-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
              class="fas fa-credit-card" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z" />
            </svg>
            <h1>Eccellenza</h1>
            <p class="lead mb-0 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
              consequuntur
              obcaecati exercitationem laboriosam dolores illum minima, commodi quidem fuga ducimus hic accusamus
              sapiente quod magnam nam officia doloribus! Perferendis, itaque!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-arrow-through-heart" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2.854 15.854A.5.5 0 0 1 2 15.5V14H.5a.5.5 0 0 1-.354-.854l1.5-1.5A.5.5 0 0 1 2 11.5h1.793l.53-.53c-.771-.802-1.328-1.58-1.704-2.32-.798-1.575-.775-2.996-.213-4.092C3.426 2.565 6.18 1.809 8 3.233c1.25-.98 2.944-.928 4.212-.152L13.292 2 12.147.854A.5.5 0 0 1 12.5 0h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.854.354L14 2.707l-1.006 1.006c.236.248.44.531.6.845.562 1.096.585 2.517-.213 4.092-.793 1.563-2.395 3.288-5.105 5.08L8 13.912l-.276-.182a21.86 21.86 0 0 1-2.685-2.062l-.539.54V14a.5.5 0 0 1-.146.354l-1.5 1.5Zm2.893-4.894A20.419 20.419 0 0 0 8 12.71c2.456-1.666 3.827-3.207 4.489-4.512.679-1.34.607-2.42.215-3.185-.817-1.595-3.087-2.054-4.346-.761L8 4.62l-.358-.368c-1.259-1.293-3.53-.834-4.346.761-.392.766-.464 1.845.215 3.185.323.636.815 1.33 1.519 2.065l1.866-1.867a.5.5 0 1 1 .708.708L5.747 10.96Z" />
          </svg>
          <h1>Eccellenza</h1>
          <p class="lead mb-0 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum consequuntur
            obcaecati exercitationem laboriosam dolores illum minima, commodi quidem fuga ducimus hic accusamus
            sapiente quod magnam nam officia doloribus! Perferendis, itaque!</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active"
          style="background-image: url(https://img.freepik.com/premium-photo/low-polygon-retrowave-style-bokeh_856565-420.jpg);">
          <div class="carousel-caption ">
            <h2>Un sito fantastico</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, numquam fugiat! Impedit, obcaecati
              reprehenderit! Velit magni, saepe nulla eum neque dolore esse excepturi itaque aspernatur nobis?
              Laborum aliquid explicabo magni!</p>
          </div>
        </div>
        <div class="carousel-item active"
          style="background-image: url(https://img.freepik.com/premium-photo/low-polygon-retrowave-style-bokeh_856565-420.jpg);">
          <div class="carousel-caption ">
            <h2>Un sito fantastico</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, numquam fugiat! Impedit, obcaecati
              reprehenderit! Velit magni, saepe nulla eum neque dolore esse excepturi itaque aspernatur nobis?
              Laborum aliquid explicabo magni!</p>
          </div>
        </div>
        <div class="carousel-item active"
          style="background-image: url(https://img.freepik.com/premium-photo/low-polygon-retrowave-style-bokeh_856565-420.jpg);">
          <div class="carousel-caption ">
            <h2>Un sito fantastico</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, numquam fugiat! Impedit, obcaecati
              reprehenderit! Velit magni, saepe nulla eum neque dolore esse excepturi itaque aspernatur nobis?
              Laborum aliquid explicabo magni!</p>
          </div>
        </div>


      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </section>

  <div class="container-fluid my-4">
    <hr>
  </div>

  <section id="immagini" class="sezione-immagini">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-lg-6 order-lg-2 immagini" style="background-image: url(https://i.redd.it/eb9ssfrxicsa1.jpg);">

        </div>
        <div class="col-lg-6 order-lg-1 testo">
          <h1 class="text-center">Balena gyoza</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum, doloremque suscipit sunt et dolorum
            asperiores dicta, eaque provident inventore non saepe ipsum recusandae reiciendis velit eligendi.
            Consequuntur corporis fugiat soluta!</p>
        </div>
      </div>
    </div>


    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-lg-6 order-lg-1 immagini"
          style="background-image: url(https://e0.pxfuel.com/wallpapers/389/616/desktop-wallpaper-2048x1125.jpg);  ">

        </div>
        <div class="col-lg-6 order-lg-2 testo">
          <h1>Cervo hyza</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur sequi eos fugiat est alias
            repudiandae, deleniti, eius totam dolor ipsa ut, nisi repellat eum modi repellendus! Fugit iusto a
            voluptatibus!</p>
        </div>
      </div>
    </div>
  </section>
   
  <section id = "login" class="newsletter text-white text-center">
    <div class="container-fluid" style="padding-top: 6rem;" >
      <div class="row">
      <div class="col-6">
        <h2 class="mb-4">Login Admin </h2>
      <form [formGroup]="form">
        <div class="col-12 ">
          <label for="codice" class="form-label"></label>
          <input type="text" class="form-control" id="codice" placeholder="Codice" formControlName="codice">

        </div>
        <div class="col-12">
          <label for="pass" class="form-label"></label>
          <input type="password" class="form-control" id="pass" placeholder="Password" formControlName="password">


        </div>

        <div class="col-sm-12 text-center">
          <button class="btn btn-primary" (click)="logInAdmin()">Accedi</button>
        </div>
      </form>
    </div>
    <div class="col-6">
      <h2 class="mb-4">Login Cliente </h2>
      <form [formGroup]="form">
        <div class="col-12">
          <label for="email" class="form-label"></label>
          <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">

        </div>
        <div class="col-12">
          <label for="pass" class="form-label"></label>
          <input type="password" class="form-control" id="pass" placeholder="Password" formControlName="password">


        </div>

        <div class="col-sm-12 text-center">
          <button class="btn btn-primary" (click)="logIn()">Accedi</button>
        </div>
      </form>
    </div>
    </div>
    </div>
  </section>

  <section id="recensioni" class="bg-light clienti" style="min-height: 30rem;">
    <h2 class="  text-center">Cosa dicono i nostri clienti</h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center   " style="padding: 2rem;">
          <div class="cornice-rotonda mx-auto">

          </div>
          <h3 class="font-weight-bold">Mario rossi</h3>
          <p>Davvero ottimo !</p>

        </div>
        <div class="col-lg-4 text-center   " style="padding: 2rem;">
          <div class="cornice-rotonda mx-auto">
            <img class="img-thumbnail">
          </div>
          <h3 class="font-weight-bold">Giovanni Bianchi</h3>
          <p>Sito fatto molto bene anche se ho riscontrato qualche problema</p>

        </div>
        <div class="col-lg-4 text-center   " style="padding: 2rem;">
          <div class="cornice-rotonda mx-auto">
            <img class="img-thumbnail">
          </div>
          <h3 class="font-weight-bold">Paola Sforza</h3>
          <p>Ho visto siti migliori e più funzionali</p>

        </div>

      </div>

    </div>
  </section>


  <section id="iscriviti" class="newsletter text-white text-center">

    <div class="container-fluid" style="min-height: 8rem;">
      <div class="row">
        <div class="col-6">
          <h2 class="mb-4">Registrazione Admin </h2>
          <form [formGroup]="form">
            <div class="input-group"style="min-height: 5rem;">
              <div class="col-6 mx-auto ">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="codice" formControlName="codice">

              </div>
              <div class="col-6 mx-auto ">
                <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="password" formControlName="password">

              </div>
             

              <div class="col-3 mx-auto d-grid gap-2">
                <button type="submit" class="btn btn-primary " (click)="button2()">Registrati</button>

              </div>
            </div>
          </form>

        </div>

        <div class="col-6">
          <h2 class="mb-4">Registrazione Clienti</h2>
          <form [formGroup]="form">
            <div class="input-group"style="min-height: 5rem;">
              <div class="col-6 mx-auto ">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nome" formControlName="nome">

              </div>
              <div class="col-6 mx-auto ">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="cognome" formControlName="cognome">

              </div>
              <div class="col-6 mx-auto  mt-1">
                  <input type="password" class="form-control  " id="exampleFormControlInput1" placeholder="pass" formControlName="password">

              </div>
              <div class="col-6 mx-auto mt-1  ">
                  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="repass" formControlName="repassword">

              </div>
              <div class="col-12  mt-1 ">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" formControlName="email">

              </div>
              
              
            </div>
            <div class="row mt-1">
              <div class="col-3 mx-auto d-grid gap-2 ">
                <button type="submit" class="btn btn-primary " (click)="button()">Registrati</button>

              </div>
            </div>
          </form>

        </div>


      </div>
      

    </div>
    
  </section>


  <section id="contatti" class="footer bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class=" primalist col-lg-6 h-100 text-center text-lg-start">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"> <a href="">About</a></li>
            <li class="list-inline-item"><a href="">Contact</a></li>
            <li class="list-inline-item"><a href="">Term of use</a></li>
            <li class="list-inline-item"><a href="">Privacy Policy</a></li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0"> @ All your right Reserved</p>
        </div>
        <div class=" bottone col-lg-3 h-100 d-flex justify-content-end align-items-center  ">

          <a class="wow d-flex justify-content-center align-items-center bg-primary text-white " href="#home">Torna
            su</a>


        </div>
      </div>
    </div>
  </section>
</body>
</html>